* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-optical-sizing: auto;
}

body {
  max-width: 1600px;
}
.btn {
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 600;
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/* main style */

header {
  width: 1600px;
  background-color: #ffffff;
  border: 1px solid black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92px;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav .menu a {
  text-decoration: none;
  color: #000000;
}

#hero {
  background: url(assets/hero-bg.png);
  background-repeat: no-repeat;

  text-align: center;
  margin: 0 auto;
  padding: 115.5px 120px 179px 120px;
}

.hero-container {
  height: 379px;
}

#hero .hero-container .smiple {
  border: none;
  background-color: #ffffff;
  border-radius: 1000px;
  padding: 8px 12px;
  margin-bottom: 16px;
  color: #276941;
  font-size: 16px;
  font-weight: 500;
}

#hero .hero-container h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #ffffff;
  margin-bottom: 16px;
}

#hero .hero-container span {
  color: #30b868;
}

#hero .hero-container p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 34px;
}

.glass-btn {
  border: 1px solid white;
  background: transparent;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  margin-left: 16px;
}

#card {
  text-align: center;
  height: 448px;
}

#card .card-header h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-top: 50px;
  margin-bottom: 16px;
}

#card .card-header p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 44px;
}

.cards {
  max-width: 1, 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card-info {
  padding: 50px 25px;
  height: 300px;
  width: 322px;
  border: 1px solid #2b0f0f;
  align-items: center;
  /* box-shadow: 8px 0px 6px black; */
}

.cards .card-info img {
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: #ffffff;
  background-color: #f95555;
  border-radius: 50%;
  margin-bottom: 16px;
}

.cards .card-info h3 {
  font-size: 24px;
  color: #001931;
  font-weight: 600;
  margin-bottom: 16px;
}

.cards .card-info p {
  font-size: 16px;
  color: #627382;
  font-weight: 400;
  margin-bottom: 21.5px;
}

#second {
  padding-top: 70px;
}

#second .second-container {
  width: 1360px;
  max-width: 1360px;
  margin: 0 auto;
}

#second .second-container .second-heading {
  text-align: center;
}

#second .second-container .second-heading h2 {
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

#second .second-container .second-heading p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 44px;
}

#second .second-container .second-box {
  display: flex;
  gap: 24px;
}

.second-box .second-card {
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 #00000020;
  height: 300px;
  max-width: 322px;
  text-align: center;
}

.second-card img {
  margin-top: 24px;
  padding: 24px;
  border-radius: 1000px;
  max-width: 60px;
  color: #ffffff;
  background-color: #f95555;
  margin-bottom: 16px;
}

.second-card h3 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.second-card p {
  color: #627382;
  font-size: 16px;
}

#structure-desing {
  width: 1600px;
  background-color: #ffffff;
}

#structure-desing .structure {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 120px;
}

#structure-desing .structure .content h3 {
  font-size: 16px;
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 20px;
}

#structure-desing .structure .content h1 {
  font-size: 48px;
  color: #001931;
  font-weight: 700;
  margin-bottom: 16px;
}

#structure-desing .structure .content p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}

#structure-desing .structure .content ul {
  list-style-type: none;
  font-size: 16px;
  color: #001931;
  line-height: 20px;
  font-weight: 500;
}

#structure-desing .structure .content ul li {
  margin-bottom: 16px;
}

#think-more {
  max-width: 1600px;
  text-align: center;
}

#think-more .think-more-container {
  margin: 0 auto;
  max-width: 1360px;
  background-color: #f7f6f2;
  text-align: center;
}

#think-more .think-more-container .think-more-heading h1 {
  padding-top: 80px;
  color: #001931;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

#think-more .think-more-container .think-more-heading p {
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

#think-more .think-more-container .think-more-ending p {
  margin: 16px;
  font: 16px;
  line-height: 24px;
  color: #627382;
  padding-bottom: 80px;
}

footer {
  background-color: #001931;
  width: 1600px;
  height: 370px;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1360px;
  padding: 120px;
  height: 64px;
}

footer .footer-container h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

footer .footer-container i {
  color: #ffffff;
  font-size: 20px;
  gap: 16px;
}

hr{
  max-width: 1360px;
  color: #E5E7EB;
}

footer p {
  text-align: center;
  color: #ffffff;
}
