*{
  margin: 0;
  padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn
{
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: #469165;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}



/* main style */

header{
  width: 1600px;
  background-color: #FFFFFF;
  border: 1px solid black;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92px;
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav .menu a{
  text-decoration: none;
  color: #000000;
}